body {
    /*background-color: var(--preto);*/
    width: calc(100vw - 20px);
    height: 100vh;
}

ul {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    column-gap: 2vh;
    row-gap: 2vh;
    padding: 2vh 0vh;
    list-style: none;
    width: 100%;
    height: 100%;
}

li {
    width: 100%;
    height: 100%;
    background-color: white;
}