#logo {
    display: flex;
    flex-direction: row;
    background-color: var(--verde);
    width: 100vw;
    height: 100vh;
}

#logo > img {
    display: block;
    object-fit:contain;
}

#logo > h1 {
    margin: 0;
    font-size: 160%;
}