@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* cores */
    --vermelho: #E33D3D;
    --verde: #04D361;
    --verde-highlight: #13F478;
    --azul-escuro: #5889EA;
    --azul-claro: #A0BEF6;
    --cinza-claro: #EDEDED;
    --cinza-escuro: #6A617F;
    --preto: #32264D;
    --amarelo: #FFBD00;

    /* fontes */
    --logo-font: 'Libre Baskerville', serif;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;

    --button-radius: 5px;
    --mudarcor-cor: #fff;
}

@keyframes --mudarcor {
    
}

.botao-padrao {
    background-color: var(--verde);
    font-family: var(--poppins);
    border: none;
    border-radius: var(--button-radius);
    cursor:pointer;
}

.botao-padrao:hover:enabled {
    background-color: var(--verde-highlight);
}

.botao-padrao:disabled {
    background-color: var(--cinza-escuro);
}