aside{
    display: flex;
    flex-grow: 1;
    position: relative;
    justify-self: center;
}

aside > iframe {
    display:flex;
    position: absolute;
    flex-grow: 1;
    width:352px;
    min-height:600px;
    right: 0px;
    height:fit-content;
    overflow: hidden;
}

main > iframe {
    display:flex;
    flex-grow: 1;
    width:100vw;
    --frame-height: calc(100vh - 30px);
    min-height: var(--frame-height);
    max-height: var(--frame-height);
    overflow: hidden;
}

