aside{
    display: flex;
    flex-grow: 1;
    position: relative;
    justify-self: center;
}

aside > iframe {
    display:flex;
    position: absolute;
    flex-grow: 1;
    width:352px;
    min-height:calc(100vh - 70px);
    right: 0px;
    height:fit-content;
    overflow: hidden;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul h3 {
    margin: 0;
}

main > nav a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-height: 20px;
}

main > nav a > img {
    display: flex;
}

main > nav a > h3 {
    font-size: 50%;
}

.colored-icon {
    display:flex;
    min-width: 100%;
    padding-top: 100%;
    background-color: var(--icon-color);
    -webkit-mask: url(--icon-src) no-repeat center;
    mask: url(--icon-src) no-repeat center;
    mask-clip: border-box;
    mask-size: 100%;
    -webkit-background-clip: border-box;
}

.icon1 {
    --icon-src : "../../images/icons/electrical_services_black_24dp.svg";
    --icon-color: var(--cinza-claro);
}